<div class="home-gallery">
<ul>
  <li>
  <img src="{{ 'gallery_01.jpg' | file_url }}" class="img-responsive">
  </li>
  <li><a href="http://www.aji-project.jp/ajiwp/wp-content/themes/aji_project/images/gallery/gallery_02.jpg" rel="lightbox[gallery]">
  <img src="http://www.aji-project.jp/ajiwp/wp-content/themes/aji_project/images/gallery/gallery_02.jpg" alt="">
  </a></li>
  <li><a href="http://www.aji-project.jp/ajiwp/wp-content/themes/aji_project/images/gallery/gallery_03.jpg" rel="lightbox[gallery]">
  <img src="http://www.aji-project.jp/ajiwp/wp-content/themes/aji_project/images/gallery/gallery_03.jpg" alt="">
  </a></li>
  <li><a href="http://www.aji-project.jp/ajiwp/wp-content/themes/aji_project/images/gallery/gallery_04.jpg" rel="lightbox[gallery]">
  <img src="http://www.aji-project.jp/ajiwp/wp-content/themes/aji_project/images/gallery/gallery_04.jpg" alt="">
  </a></li>
  <li><a href="http://www.aji-project.jp/ajiwp/wp-content/themes/aji_project/images/gallery/gallery_05.jpg" rel="lightbox[gallery]">
  <img src="http://www.aji-project.jp/ajiwp/wp-content/themes/aji_project/images/gallery/gallery_05.jpg" alt="">
  </a></li>
  <li><a href="http://www.aji-project.jp/ajiwp/wp-content/themes/aji_project/images/gallery/gallery_06.jpg" rel="lightbox[gallery]">
  <img src="http://www.aji-project.jp/ajiwp/wp-content/themes/aji_project/images/gallery/gallery_06.jpg" alt="">
  </a></li>
  <li><a href="http://www.aji-project.jp/ajiwp/wp-content/themes/aji_project/images/gallery/gallery_07.jpg" rel="lightbox[gallery]">
  <img src="http://www.aji-project.jp/ajiwp/wp-content/themes/aji_project/images/gallery/gallery_07.jpg" alt="">
  </a></li>
  <li><a href="http://www.aji-project.jp/ajiwp/wp-content/themes/aji_project/images/gallery/gallery_08.jpg" rel="lightbox[gallery]">
  <img src="http://www.aji-project.jp/ajiwp/wp-content/themes/aji_project/images/gallery/gallery_08.jpg" alt="">
  </a></li>
  <li><a href="http://www.aji-project.jp/ajiwp/wp-content/themes/aji_project/images/gallery/gallery_09.jpg" rel="lightbox[gallery]">
  <img src="http://www.aji-project.jp/ajiwp/wp-content/themes/aji_project/images/gallery/gallery_09.jpg" alt="">
  </a></li>
  <li><a href="http://www.aji-project.jp/ajiwp/wp-content/themes/aji_project/images/gallery/gallery_10.jpg" rel="lightbox[gallery]">
  <img src="http://www.aji-project.jp/ajiwp/wp-content/themes/aji_project/images/gallery/gallery_10.jpg" alt="">
  </a></li>
  <li class="spHide"><a href="http://www.aji-project.jp/ajiwp/wp-content/themes/aji_project/images/gallery/gallery_11.jpg" rel="lightbox[gallery]">
  <img src="http://www.aji-project.jp/ajiwp/wp-content/themes/aji_project/images/gallery/gallery_11.jpg" alt="">
  </a></li>
  <li class="spHide"><a href="http://www.aji-project.jp/ajiwp/wp-content/themes/aji_project/images/gallery/gallery_12.jpg" rel="lightbox[gallery]">
  <img src="http://www.aji-project.jp/ajiwp/wp-content/themes/aji_project/images/gallery/gallery_12.jpg" alt="">
  </a></li>
  <li class="spHide"><a href="http://www.aji-project.jp/ajiwp/wp-content/themes/aji_project/images/gallery/gallery_13.jpg" rel="lightbox[gallery]">
  <img src="http://www.aji-project.jp/ajiwp/wp-content/themes/aji_project/images/gallery/gallery_13.jpg" alt="">
  </a></li>
  <li class="spHide"><a href="http://www.aji-project.jp/ajiwp/wp-content/themes/aji_project/images/gallery/gallery_14.jpg" rel="lightbox[gallery]">
  <img src="http://www.aji-project.jp/ajiwp/wp-content/themes/aji_project/images/gallery/gallery_14.jpg" alt="">
  </a></li>
  <li class="spHide"><a href="http://www.aji-project.jp/ajiwp/wp-content/themes/aji_project/images/gallery/gallery_15.jpg" rel="lightbox[gallery]">
  <img src="http://www.aji-project.jp/ajiwp/wp-content/themes/aji_project/images/gallery/gallery_15.jpg" alt="">
  </a></li>
</div>